<div class="container-form container">
  <div>
    <h1> !! Form doesn't save updated dates yet !! <h1>
  </div>
  <%= simple_form_for [@booking] do |f| %>
    <h1>Edit booking</h1>

    <div class="input">
      <%= f.input :start_date, as: :date, :label => "Start date" %>
    </div>

    <div class="input">
      <%= f.input :end_date, as: :date, :label => "End date" %>
    </div>

    <%= f.submit %>

  <% end %>

  <%= link_to booking_path do %>
    <i class="fa-solid fa-arrow-rotate-left"></i> Back to booking
  <% end %>
</div>
