<div class="container text-center container-dashboard">
  <h2><strong>MY</strong> upcoming <strong>RIDES</strong></h2>
  <div class="index-container">
    <div class="cards">
      <% @user_bookings.each do |booking| %>
        <% case booking.status %>
          <% when nil %>
            <% @status = "Pending" %>
            <% @class = "text-warning" %>
          <% when true %>
            <% @status = "Confirmed" %>
            <% @class = "text-danger" %>
          <% when false %>
            <% @status = "Declined" %>
            <% @class = "text-info" %>
          <% end %>

          <div class="card-bike-index">
              <h4 class="card-header">
              <strong>MY RIDE</strong> on <%= booking.owner.first_name %> 's <strong>BIKE</strong>
              </h4>
              <div class="p-2">
                <%= link_to booking.bike, class: "bike_link" do %>
                <% if booking.bike.photo.attached? %>
                  <% image = booking.bike.photo.key %>
                  <%=cl_image_tag(image, crop: :scale, class: "card-image-top")%>
                <% else %>
                  <%= image_tag("https://cdn-icons-png.flaticon.com/512/3875/3875172.png", crop: :scale, class: "card-image-top")%>
                <% end %>
        <% end %>
                <h2>RIDE request</h2>
                <h3 class=<%=@class%>><%=@status%></h3>
                <h5><strong>RIDE</strong> start: <%= booking.start_date.day%> - <%= booking.start_date.month %></h5>
                <h5><strong>RIDE</strong> end: <%= booking.end_date.day%> - <%= booking.end_date.month %></h5>
              </div>
              <div class="card-footer">
                <%= link_to "Booking details", booking_path(booking.id), class: "btn btn-show btn-card btn-block" %>
              </div>
          </div>
      <% end %>
    </div>
  </div>
  <h2>who <i>WANTS TO</i> <strong>RIDE MY BIKE</strong>s</h2>
  <div class="index-container text-center">
    <% if @pending_bookings.empty? %>
      <div class="card-empty container">
        <p class="text-danger"> It seems no one wants to ride your bike at the moment...</p>
      </div>
    <% else %>
      <div class="cards">
        <% @pending_bookings.each do |booking| %>
          <% case booking.status %>
            <% when nil %>
              <% @status = "Pending" %>
              <% @textclass = "text-warning" %>
              <% @cardclass = "card-bike-index pending"%>
            <% when true %>
              <% @status = "Confirmed" %>
              <% @class = "text-danger" %>
              <% @cardclass = "card-bike-index pending"%>
            <% when false %>
              <% @status = "Declined" %>
              <% @class = "text-info" %>
              <% @cardclass = "card-bike-index pending"%>
            <% end %>
          <div class=<%=@cardclass%>>
            <div class="card-header">
              <h5>
                <%= booking.user.first_name%>
                <%= booking.user.last_name %>
                <strong><i>WANTS TO</i> RIDE MY </strong>
                <%= booking.bike.name %>
              </h5>
            </div>
              <h3 class=<%=@textclass%>><%=@status%></h3>
            <div class="p-2">
              <% if booking.bike.photo.attached? %>
                  <% image = booking.bike.photo.key %>
                  <%=cl_image_tag(image, crop: :scale, class: "img-thumbnail card-image-booked-bike", style: "height: 150px; width: 200px")%>
                <% else %>
                  <%= image_tag("https://cdn-icons-png.flaticon.com/512/3875/3875172.png", crop: :scale, class: "img-thumbnail card-image-booked-bike", style: "height: 150px; width: 200px")%>
                <% end %>
              <%# <ul class="card-bike-list"> %>
                <%# <li><%= booking.bike.category.name%>
                <%# <li>Suitable for:  <%= booking.bike.biketype.name%>
              <%# </ul> %>
            </div>
              <%# <div class="btn-block"> %>
                <%= link_to "Accept", booking_path(booking.id, status: true), data: {turbo_method: :patch}, class: "btn btn-warning btn-block btn-card" %>
                <%= link_to "Decline", booking_path(booking.id, status: false), data: {turbo_method: :patch}, class:"btn btn-info btn-card btn-block" %>
              <%# </div> %>
            <div class="card-footer">
              <%= link_to "More about this booking", booking_path(booking.id), class: "bike_link btn btn-flat btn-card btn-block" %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <h2>who is <strong>RIDE</strong>ing <strong>MY BIKE</strong>s</h2>
  <div class="index-container">
    <div class="cards">
      <% @received_bookings.each do |booking| %>
        <% case booking.status %>
          <% when nil %>
            <% @status = "Pending" %>
            <% @textclass = "text-warning" %>
            <% @cardclass = "card-bike-index pending"%>
          <% when true %>
            <% @status = "Confirmed" %>
            <% @class = "text-danger" %>
            <% @cardclass = "card-bike-index confirmed"%>
          <% when false %>
          <% @status = "Declined" %>
          <% @class = "text-info" %>
          <% @cardclass = "card-bike-index declined"%>
          <% end %>
        <div class=<%=@cardclass%>>
          <h5 class="card-header"><%= booking.user.first_name%> <strong> RIDES MY </strong><%= booking.bike.name %></h5>
          <div class="p-2">
            <%# <% if booking.bike.photo.attached? %>
              <%# <% image = booking.bike.photo.key %>
              <%# <%=cl_image_tag(image, crop: :scale, class: "img-thumbnail card-image-booked-bike", style: "height: 150px; width: 200px")%>
            <%# <% else %>
              <%# <%= image_tag("https://cdn-icons-png.flaticon.com/512/3875/3875172.png", crop: :scale, class: "img-thumbnail card-image-booked-bike", style: "height: 150px; width: 200px")%>
            <%# <% end %>
            <h4 class=<%=@class%>><%=@status%></h4>
            <h5><strong>RIDE</strong> start: <%= booking.start_date.day%> - <%= booking.start_date.month %></h5>
            <h5><strong>RIDE</strong> end: <%= booking.end_date.day%> - <%= booking.end_date.month %></h5>
          </div>
          <div class="card-footer">
            <%= link_to "Booking details", booking_path(booking.id), class: "btn btn-show btn-card btn-block" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <h2> <strong>MY BIKE</strong>s</h2>
  <div class="index-container">
    <div class="cards">
      <% @owned_bikes.each do |bike| %>
        <div class="card-bike-index">
          <h4 class="card-header">
            <%= bike.name %>
          </h4>
          <div class="p-2">
            <% if bike.photo.attached? %>
              <% image = bike.photo.key %>
              <%=cl_image_tag(image, crop: :scale, class: "img-thumbnail")%>
            <% else %>
              <%= image_tag("https://cdn-icons-png.flaticon.com/512/3875/3875172.png", crop: :scale, class: "img-thumbnail")%>
            <% end %>
            <ul class="card-bike-list">
              <%# <li><%= bike.category.name</li>%>
              <%# <li>Suitable for:  <%= bike.biketype.name</li>%>
            </ul>
          </div>
          <div class="card-footer">
            <%= link_to "Edit bike listing", edit_bike_path(bike.id), class: "btn btn-booking btn-card"%>
            <%= link_to "Delete this bike?", bike_path(bike.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-show-back btn-card"%>
          </div>
        </div>
      <% end %>
        <div class="card-bike-index">
          <h4 class="card-header">
            add a <strong>BIKE</strong>
          </h4>
          <div class="p-2">
        <%= link_to new_bike_path do %>
            <%= image_tag "bike.png" %>
        <% end %>
          </div>
          <div class="card-footer">

          </div>
        </div>
    </div>
    <div id="map" style="height: 60vh"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json%>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>">
    </div>
  </div>
</div>
