
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.boatandco.nl/upload/images/best-cycling-routes-around-amsterdam-tasty-food-stops-included-1250x500_1.jpg);">
  <div class="container m-4">
    <h1><strong>RideMyBike</strong></h1>
    <p>Bike like a real local in Amsterdam</p>
    <%= link_to "Book your bike now!", bikes_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="container">
    <div class="text-center">
    <h3>Available bikes</h3>
    </div>

    <br>

  <div class="row">
    <% @bikes.each do |bike| %>
      <%= link_to bike, class: "col-12 col-m-4 col-lg-4 col-xl-3 bike_link" do %>
        <div class="card-bike">
        <div class= p-2>
          <% if bike.photo.attached? %>
            <% image = bike.photo.key %>
            <%=cl_image_tag(image, crop: :fill, style: "height: 300px; width: 100%; object-fit: cover")%>
          <% else %>
            <%= image_tag("https://cdn-icons-png.flaticon.com/512/3875/3875172.png", crop: :fill, style: "height: 300px; width: 100%; object-fit: cover")%>
          <% end %>
        </div>
        <div class="card-bike-infos">
          <div>
            <h2><%= bike.name %></h2>
            <p>Bike category:  <%= bike.category.name %></p>
            <p>Adult/Child:  <%= bike.biketype.name %></p>
            <p>Color:  <%= bike.color.name %></p>
          </div>
          <h2 class="card-bike-pricing">€10/dag</h2>
        </div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
