<div class="container py-5">
  <div class="d-flex text-center">
  <h1 class="mb-0">Book your bike in Amsterdam</h3>
  </div>
  <br>
  <div class="index-container">
    <div class="cards">
      <% @bikes.each do |bike| %>
        <%= link_to bike, class: "bike_link" do %>
          <div class="card-bike-index">
            <h2 class="card-header"><%= bike.name %></h2>
            <div class="p-2">
              <% image = bike.photo.key.to_s %>
              <%= cl_image_tag(image, crop: :scale, class: "card-image-top") %>
              <ul class="card-bike-list">
                <li><%= bike.category.name%></li>
                <li>Suitable for:  <%= bike.biketype.name%></li>
              </ul>
            </div>
            <div class="card-footer">
              <button class="btn btn-show btn-card">Book me now!</button>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div id="map" style="height: 70vh"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json%>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>">
    </div>
  </div>
</div>
