<div class="container">
  <div class="text-center">
    <div class="card align-items-center hug-content">
      <div class="card-title">
        <%= @bike.name %>
      </div>
      <% image = @bike.photo.key.to_s %>
      <%=cl_image_tag(image, height: 350, width: 450, crop: :pad, class: "card-image-top")%>
      <div class="card-body">
        <div style="width: 100%; height: 600px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        <p class="card-text">Owner of this bike:<strong> <%= @bike.user.first_name%> <%= @bike.user.last_name %></strong></p>
        <p class="card-text">Current location:<strong> <%= @bike.address %></strong></p>
        <p class="card-text">Category:<strong> <%= @bike.category.name %></strong></p>
        <p class="card-text">Size:<strong> <%= @bike.biketype.name %></strong></p>
        <p class="card-text">Color:<strong> <%= @bike.color.name %></strong></p>
        <div class="card-footer bg-transparent btn-group" role="group" aria-label="Basic example">
        <%= link_to "Delete this bike",
          bike_path(@bike), class:"btn btn-outline-info",
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
        <%= link_to "Edit this bike", edit_bike_path, class:"btn btn-outline-info"%>
        <%= link_to "Back to all my bikes", bikes_path, class:"btn btn-outline-info" %>
        </div>
      </div>
    </div>
  </div>
</div>
