<div class="container py-5">
    <div class="show-grid">
      <div class= "mx-auto grid-item"
        style="height: 100%; width: 100%"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <% image = @bike.photo.key.to_s %>
      <%=cl_image_tag(image, crop: :lpad, class: "grid-item")%>
    </div>

    <div class="card-body">
      <div class="card-body-text">
        <h1><%= @bike.name %> of <%= @bike.user.first_name%> <%= @bike.user.last_name %></h1>
        <p class="card-text">Category:<strong> <%= @bike.category.name %></strong></p>
        <p class="card-text">Size:<strong> <%= @bike.biketype.name %></strong></p>
        <p class="card-text">Color:<strong> <%= @bike.color.name %></strong></p>
    </div>
      <%# <div class="bg-transparent btn-group" role="group" aria-label="Basic example"> %>
      <%# <%= link_to "Delete this bike",
        bike_path(@bike), class:"btn btn-outline-info",
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      <%# <%= link_to "Edit this bike", edit_bike_path, class:"btn btn-outline-info"%>
      <%# <%= link_to "Back to all bikes", bikes_path, class:"btn btn-outline-info btn-block" %>
      <%# </div> %>
    <%# <div class="show-grid"> %>
      <%# <%= link_to "Book this bike", new_bike_booking_path(@bike), class:"btn btn-show mx-auto" %>
      <%# <%= link_to "Back to all bikes", bikes_path, class:"btn btn-show-back mx-auto" %>
      <%= render "bookings/form", booking: @booking %>
      <%= render "shared/flashes" %>
    </div>
</div>
